{% extends 'basics/base.html' %}

{% block title %}
    Home - Shozaty
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="banner">
        <h1>Welcome to Shozaty</h1>
        <p>Discover the finest collection of Egyptian shoes!</p>
    </div>

    <div class="container_home">
        <h1>Most Recent Shoes</h1>
        <div class="shoe-grid">
            {% for shoe in shoes %}
            <div class="shoe-card">
                <img src="{{ shoe.image.url }}" alt="{{ shoe.name }} Image">
                <div class="shoe-details">
                    <h3>{{ shoe.name }}</h3>
                    <p class="price">${{ shoe.price }}</p>
                    <a href="{% url 'shoe_details' shoe.id %}" class="details-btn">View Details →</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
