{% extends 'basics/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login</h1>
    <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="username">Username</label>
            {{ form.username }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ form.password }}
        </div>
        {% if form.errors %}
            <div class="error-messages">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn-login">Login</button>
    </form>
    <div class="register-link">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    </div>
</div>
{% endblock %}
